<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <link rel="stylesheet" href="angular-ui.min.css">
    <script type="text/javascript" src="codemirror.js"></script>
    <script type="text/javascript" src="less.js"></script>
    <link rel="stylesheet" href="codemirror.css">
    <link rel="stylesheet" href="docs.css">
    <link rel="stylesheet" href="monokai.css">
    <script type="text/javascript" src="angular-ui.min.js"></script>

    <script type="text/javascript" src="ColorJizz%20-%20js%20-%200.2.js"></script>
    <script type="text/javascript" src="reless.js"></script>
</head>
<script type="text/javascript">

    var myApp = angular.module('MyApp',['ui'])
    myApp.value('ui.config', {})
    var updateOnBlur = function() {
        return {
            restrict: 'EA',
            require: 'ngModel',
            link: function(scope, elm, attr, ngModelCtrl) {

                if (attr.type === 'radio' || attr.type === 'checkbox') {
                    return;
                }
                elm.unbind('input').unbind('keydown').unbind('change');
                elm.bind('blur', function() {
                    scope.$apply(function() {
                        ngModelCtrl.$setViewValue(elm.val());
                    });
                });
            }
        };
    };

    myApp.directive('input', updateOnBlur);
    myApp.directive('textarea', updateOnBlur);
</script>
<body ng-app='MyApp'>
<script type="text/javascript">
        input = input.replace(/\/\*[^*]*\*\//g,'');
        input = input.replace(/\/\/[^\n]*/g,'');

    function Ctrl($scope,$element,$window) {
        $scope.input = $('.example',$element).html();
        $scope.go = function(){
            var env = {};
            $scope.output = refactor($scope.input,env);
            $scope.env = env;
            $scope.max_ref = 0;
            $scope.colors = []
            $.each($scope.env.colors,function(k,v){
                if (k == '000000' || k == 'ffffff') return true;
                $scope.max_ref = Math.max($scope.max_ref,v.ref);
                $scope.colors.push(k);
            })
            $.each($scope.env.colors,function(k,v){
                v.S = 2 + 8 * v.ref / $scope.max_ref;
            })

            $scope.Ls = $scope.colors.slice().sort(function(a,b){
                var x = $scope.env.colors[a];
                var y = $scope.env.colors[b];

                return x.CIELab.l - y.CIELab.l;
            });
            $scope.As = $scope.colors.slice().sort(function(a,b){
                var x = $scope.env.colors[a];
                var y = $scope.env.colors[b];

                return x.CIELab.a - y.CIELab.a;
            });
            $scope.Bs = $scope.colors.slice().sort(function(a,b){
                var x = $scope.env.colors[a];
                var y = $scope.env.colors[b];

                return x.CIELab.b - y.CIELab.b;
            });
            $scope.M = $window.document.width * 9 / 10  / $scope.colors.length;
        }

        $scope.go();
    }




</script>
<style type="text/css">
    .dot {
        position:absolute;
        display:block;
    }
</style>
<h3>RE-LESS; Less refactorizer</h3>
<p>http://github.com/nakosung/reless</p>
<div ng-controller='Ctrl'>
    <style type="text/css">
        table { width: 100%; }
        td { width: 50% ;}
    </style>
    <div>
        <span ng-repeat="(k,v) in env.colors" class='dot' style=
                'background:#{{k}};left:{{(v.CIELab.a+100)*2}}px;top:{{(v.CIELab.b+100)*2}}px;width:{{v.S}}px;height:{{v.S}}px;outline:solid 1px #{{v.N}}'></span>
        <div style='clear:both'></div>

        <span ng-repeat="k in Ls" style='background:#{{k}};width:{{M}}px;height:{{40*env.colors[k].ref/max_ref+M}}px;display:block;float:left'></span>
        <div style='clear:both;height:300px'></div>

    </div>
    <table>
        <button ng-click="go()">GO!</button>
        <tr>
            <td>
                <textarea ng-model='input' update-on-blur></textarea>
            </td>
            <td>
                <textarea ui-codemirror="{theme:'monokai',lineWrapping:true}" ng-model='output'></textarea>
            </td>
        </tr>
    </table>
    <textarea name="example" class="example" cols="30" rows="10" style='display:none'>
    //@MIXIN{}
    .none{display:none;}
    .block{display:block;}
    .inline{display:inline-block;}
    .trans{background:transparent;}
    .black-border{border:1px solid #000;}
    .zborder{border:0px;}
    .zpadding{padding:0;}
    .zmargin{margin:0;}
    .border-box{-webkit-box-sizing:border-box;}
    .vcenter{vertical-align:middle;}
    .tcenter{text-align:center;}
    .rel{position:relative;}
    .abs{position:absolute;}
    .bold{font-weight:bold;}
    .normal{font-weight:normal;}
    .fl{float:left;}
    .fr{float:right;}
    .cp{cursor:pointer;}
    .cb{clear:both;}
    .pd_r1{padding-right:1px;}
    .outline1(@color) {outline:solid 1px @color}
    .size(@w,@h) {width:@w;height:@h}
    .xy(@x,@y) {top:@y;left:@x}
    .bg-norepeat(@img) {background:url(@img) no-repeat}
    //@MIXOUT{}
    .scroll{width:100%;height:100%;overflow:hidden;overflow-y:auto;}
    .customScroll::-webkit-scrollbar{width:14px;}
    .customScroll::-webkit-scrollbar-track{border-right:1px solid #020202;background:#0c0c0c;}
    .customScroll::-webkit-scrollbar-thumb{cursor:pointer;width:12px;border:1px solid #060d10;background:#05bee4;}
    .truncate{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
    .wrap{position:relative;width:1280px;height:960px;margin:0 auto;}
    .top{position:relative;width:1280px;height:117px;margin:0 auto;background:url(../img/top/top_bg.png) center 0 no-repeat;}
    .info{position:relative;width:375px;height:117px;float:left;float:left;}
    .gnb{position:relative;width:599px;height:117px;float:right;float:right;}
    .contents{position:relative;width:1280px;height:692px;padding:55px 0;margin:0 auto;clear:both;clear:both;z-index:100;overflow:hidden;}
    .contents_swf{position:absolute;width:1280px;height:802px;z-index:1;top:0;left:0;display:none;}
    .contents_bg{position:absolute;width:1280px;height:802px;z-index:107;background:url(../img/contents/contents_bg.png);top:0;left:0;display:none;}
    .if{position:relative;width:1126px;height:689px;margin:0 auto;clear:both;clear:both;}
    .footer{position:relative;width:1280px;height:41px;margin:-3px auto 0;clear:both;clear:both;background:url(../img/footer/footer_bg.png) center 0 no-repeat;}
    .f_bt{position:relative;float:left;float:left;width:548px;height:41px;}
    .f_gift{position:relative;float:left;float:left;width:182px;height:41px;background:url(../img/footer/f_bt_bg.png);}
    .f_slide{position:relative;float:left;float:left;width:365px;height:41px;}
    .exit{position:relative;float:right;float:right;width:284px;height:41px;background:url("../img/footer/exit_bg.png") no-repeat;}
    .users{position:absolute;left:-285px;top:61px;z-index:107;}
    .users_tab{position:relative;width:285px;height:670px;float:left;float:left;}
    .users_img{position:relative;width:29px;height:279px;float:left;float:left;cursor:pointer;cursor:pointer;}.users_img span{position:absolute;width:29px;top:105px;left:0;text-align:center;color:#00ffff;font-size:12px;}
    .users_tab1{display:block;}
    .users_tab2{display:none;}


    </textarea>

</div>
</body>
</html>