<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <link rel="stylesheet" href="angular-ui.min.css">
    <script type="text/javascript" src="codemirror.js"></script>
    <script type="text/javascript" src="less.js"></script>
    <link rel="stylesheet" href="codemirror.css">
    <link rel="stylesheet" href="docs.css">
    <link rel="stylesheet" href="monokai.css">
    <script type="text/javascript" src="angular-ui.min.js"></script>

    <script type="text/javascript" src="ColorJizz%20-%20js%20-%200.2.js"></script>
    <script type="text/javascript" src="reless.js"></script>
</head>
<script type="text/javascript">

    var myApp = angular.module('MyApp',['ui'])
    myApp.value('ui.config', {})
    var updateOnBlur = function() {
        return {
            restrict: 'EA',
            require: 'ngModel',
            link: function(scope, elm, attr, ngModelCtrl) {

                if (attr.type === 'radio' || attr.type === 'checkbox') {
                    return;
                }
                elm.unbind('input').unbind('keydown').unbind('change');
                elm.bind('blur', function() {
                    scope.$apply(function() {
                        ngModelCtrl.$setViewValue(elm.val());
                    });
                });
            }
        };
    };

    myApp.directive('input', updateOnBlur);
    myApp.directive('textarea', updateOnBlur);
</script>
<body ng-app='MyApp'>
<script type="text/javascript">

    function Ctrl($scope,$element,$window,$log) {
        $scope.input = $('.example',$element).html();
        $scope.go = function(){
            var env = {};
            $scope.output = refactor($scope.input,env);
            $scope.env = env;
            $scope.max_ref = 0;
            $scope.colors = []
            $.each($scope.env.colors,function(k,v){
                if (k == '000000' || k == 'ffffff') return true;
                $scope.max_ref = Math.max($scope.max_ref,v.ref);
                $scope.colors.push(k);
            })
            $.each($scope.env.colors,function(k,v){
                v.S = 2 + 8 * v.ref / $scope.max_ref;
            })

            $scope.Ls = $scope.colors.slice().sort(function(a,b){
                var x = $scope.env.colors[a];
                var y = $scope.env.colors[b];

                return x.CIELab.l - y.CIELab.l;
            });
            $scope.As = $scope.colors.slice().sort(function(a,b){
                var x = $scope.env.colors[a];
                var y = $scope.env.colors[b];

                return x.CIELab.a - y.CIELab.a;
            });
            $scope.Bs = $scope.colors.slice().sort(function(a,b){
                var x = $scope.env.colors[a];
                var y = $scope.env.colors[b];

                return x.CIELab.b - y.CIELab.b;
            });
            $scope.M = $window.document.width * 9 / 10  / $scope.colors.length;
        }

        $scope.select_color=function(k,v){
            $scope.color_code = k;
            $scope.color_data = v;
        }

        $scope.go();
    }




</script>
<style type="text/css">
</style>
<h3>RE-LESS; Less refactorizer</h3>
<p>http://github.com/nakosung/reless</p>
<div ng-controller='Ctrl'>
    <style type="text/css">
        table { width: 100%; }
        td { width: 50% ;}
        .colorplot {
            right:30px;
            top:30px;
            width:400px; height:400px;
            position:absolute;
            background:rgba(1,1,0,0.1)
        }
        .colorplot .dot {
            position:absolute;
            display:block;
        }
    </style>
    <div>
        <div class='colorplot'>
            <div><span style='width:10px;height:10px;background:#{{color_code}}'>color info</span> #{{color_code}} l{{color_data.CIELab.l | number:1}} a{{color_data.CIELab.a | number:1}} b{{color_data.CIELab.b | number:1}}</div>
        <span ng-repeat="(k,v) in env.colors" class='dot'
              ng-mouseover='select_color(k,v)'
              style=
                'z-index:200;cursor:pointer;background:#{{k}};left:{{(v.CIELab.a+100)*2}}px;top:{{(v.CIELab.b+100)*2}}px;width:{{v.S}}px;height:{{v.S}}px;outline:solid 1px #{{v.N}}'>

                </span>
        <div style='clear:both'></div>
        </div>

        <!--<span ng-repeat="k in Ls" style='background:#{{k}};width:{{M}}px;height:{{40*env.colors[k].ref/max_ref+M}}px;display:block;float:left'></span>-->
        <!--<div style='clear:both;height:300px'></div>-->

    </div>
    <button ng-click="go()">RE-LESS!</button>

    <div>
        <textarea ui-codemirror ng-model='input' update-on-blur></textarea>
    </div>
    <div>
        <textarea ui-codemirror="{theme:'monokai'}" ng-model='output'></textarea>
    </div>

    <textarea name="example" class="example" cols="30" rows="10" style='display:none'>
        //@MIXIN{}
        .rel{position:relative;}
        .size(@w,@h) {width:@w;height:@h}
        //@MIXOUT{}
        .wrap{position:relative;width:1280px;height:960px}


    </textarea>

</div>
</body>
</html>